.details {
    padding: 7%;
    padding-top: 5%;
    /* padding-left: 8%; */
    /* display: inline; */
}

/* section, div { border: 1px solid; } */

/* .details .main-heading {
    text-transform: capitalize;
} */
/* .details h1 { */
/* .details .main-heading .module h1 { */
    /* text-transform: capitalize; */
    /* font-size: 50px; */
    /* display: inline; */
    /* width: fit-content; */
/* } */
/* .details .ver { */
/* .details .main-heading .ver h3 {
    display: inline-block;
}
.details .main-heading .ver { */
    /* justify-content: right; */
    /* align-items: right; */
    /* text-align: right; */
    /* display: inline-block; */
    /* float: right;
} */

.details .module {
    display: inline;
/* }
.details h1 {
    text-transform: capitalize; */
    font-size: 50px;
}
.details .ver {
    float: right;
}
.details .module, .details .ver {
    text-transform: capitalize;
}

.details p {
    padding-top: 10px;
}



/* abbreviation area */



.details .box {
    /* border: 1px solid; */
    min-height: 50vh;
    border-radius: 8px;
    /* background-color: black; */
    width: 60%;
    /* background-color: #fefafb; */
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    margin: 0 auto;
}
/* main .window hr {
    border-color: black;
} */
.details .box .toolbar {
    background-color: #fefafb;
    border-bottom: 1px solid rgb(211, 208, 208);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* background-color: black; */
    height: 5vh;

    /* justify-content: center; */
    /* display: flex;
    align-items: center; */
    /* padding: 12px; */
    /* word-spacing: 2px; */
    /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
    /* background-image: linear-gradient(to right, rgb(253, 241, 243), white, rgb(240, 240, 240)); */
}

.details .box .toolbar div {
    display: flex;
    align-items: center;        /* align vertically in flexbox */
}
/* main .box .toolbar .red-circle, main .box .toolbar .orange-circle, main .box .toolbar .green-circle { */
.details .box .toolbar .left .circle {
    height: 10px;
    width: 10px;
    /* background-color: #bbb; */
    /* border-radius: 50%; */
    border-radius: 5px;
    /* display: inline-block; */
    /* line-height: 5vh; */
    /* padding: 5px; */
}
.details .box .toolbar .left .red { background-color: #ff5653; }
.details .box .toolbar .left .orange { background-color: #ffbe0e; }
.details .box .toolbar .left .green { background-color: #2ace35; }

.details .box .toolbar .mid {
    /* text-align: center; */
    /* display: flex;
    align-items: center; */
    justify-content: center;        /* align horizontally in flexbox */
}

