.details {
    padding: 7%;
    padding-top: 5%;
    /* padding-left: 8%; */
    /* display: inline; */
}

/* section, div { border: 1px solid; } */
/* :not(div.row) { border: 1px solid; } */
/* * { border: 1px solid; } */

/* .details .main-heading {
    text-transform: capitalize;
} */
/* .details h1 { */
/* .details .main-heading .module h1 { */
    /* text-transform: capitalize; */
    /* font-size: 50px; */
    /* display: inline; */
    /* width: fit-content; */
/* } */
/* .details .ver { */
/* .details .main-heading .ver h3 {
    display: inline-block;
}
.details .main-heading .ver { */
    /* justify-content: right; */
    /* align-items: right; */
    /* text-align: right; */
    /* display: inline-block; */
    /* float: right;
} */

.details .module {
    display: inline;
/* }
.details h1 {
    text-transform: capitalize; */
    font-size: 50px;
}
.details .ver {
    float: right;
}
.details .module, .details .ver {
    text-transform: capitalize;
    /* color: #606770; */
}

.details p {
    padding-top: 10px;
    /* color: #606770; */
}



/* abbreviation area */



.details .box {
    /* border: 1px solid; */
    /* min-height: 50vh; */
    border-radius: 8px;
    /* background-color: black; */
    width: 60%;
    /* background-color: #fefafb; */
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    margin: 0 auto;
}
/* main .window hr {
    border-color: black;
} */

/* .details .box .toolbar { */
.details .box .left {
    background-color: #fefafb;
    /* background-color: #f6f6f6; */
    /* background-color: #f8f8f8; */
    /* border-bottom: 1px solid rgb(211, 208, 208); */
    border-top-left-radius: 8px;
    /* border-top-right-radius: 8px; */
    /* background-color: black; */
    /* min-height: 50vh; */

    /* justify-content: center; */
    /* display: flex;
    align-items: center; */
    /* padding: 12px; */
    /* word-spacing: 2px; */
    /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
    /* background-image: linear-gradient(to right, rgb(253, 241, 243), white, rgb(240, 240, 240)); */
    /* width: 60%; */
    /* border-radius: 8px; */
    /* z-index: -5; */
    border-bottom-left-radius: 8px;
}
/* .details .box .toolbar div { */
.details .box .left .circles, .details .box .right .title {
    display: flex;
    align-items: center;        /* align vertically in flexbox */
    height: 7vh;
    /* padding-left: 7px; */
}
.details .box .left .circles {
    padding-left: 7px;
}
/* main .box .toolbar .red-circle, main .box .toolbar .orange-circle, main .box .toolbar .green-circle { */
/* .details .box .toolbar .left .circle { */
.details .box .left .circles .circle {
    height: 10px;
    width: 10px;
    /* background-color: #bbb; */
    /* border-radius: 50%; */
    border-radius: 5px;
    /* display: inline-block; */
    /* line-height: 5vh; */
    /* padding: 5px; */
}
/* .details .box .toolbar .left .red { background-color: #ff5653; }
.details .box .toolbar .left .orange { background-color: #ffbe0e; }
.details .box .toolbar .left .green { background-color: #2ace35; } */
.details .box .left .circles .red { background-color: #ff5653; }
.details .box .left .circles .orange { background-color: #ffbe0e; }
.details .box .left .circles .green { background-color: #2ace35; }

/* .details .box .left .methods, .details .box .right .content { */
.details .box .left .methods {
    min-height: 43vh;
    padding-top: 14px;
    /* padding-left: 12px; */
    padding-left: 10px;
}
/* .details .box .left .methods {
    padding-left: 10px;
} */

.details .box .right {
    /* border-radius: 8px; */
    padding: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* .details .box .toolbar .mid { */
.details .box .right .title {
    /* text-align: center; */
    /* display: flex;
    align-items: center; */
    /* justify-content: center;        align horizontally in flexbox */
    /* height: 5vh; */
    border-bottom: 3px solid #fefafb;
    /* border-bottom: 3px solid #f6f6f6; */
    /* border-bottom: 3px solid #f8f8f8; */
    border-top-right-radius: 8px;
    padding-left: 15px;
    word-spacing: 5px;
}
.details .box .right .content {
    /* min-height: 45vh; */
    border-bottom-right-radius: 8px;
    min-height: 43vh;

}
.details .box .right .content .apis {
    border-right: 2px solid #fefafb;
    /* border-right: 2px solid #f8f8f8; */
    /* margin: 0; */
    padding-top: 14px;
}
.details .box .right .content .results {
    border-left: 2px solid #fefafb;
    /* border-left: 2px solid #f8f8f8; */
    /* margin: 0; */
    padding-top: 14px;
}

