.details {
    padding: 7%;
    padding-top: 5%;
    /* padding-left: 8%; */
    /* display: inline; */
    /* min-height: 200vh; */
}

/* section, div { border: 1px solid; } */
/* * { border: 1px solid; } */

/* .details .main-heading {
    text-transform: capitalize;
} */
/* .details h1 { */
/* .details .main-heading .module h1 { */
    /* text-transform: capitalize; */
    /* font-size: 50px; */
    /* display: inline; */
    /* width: fit-content; */
/* } */
/* .details .ver { */
/* .details .main-heading .ver h3 {
    display: inline-block;
}
.details .main-heading .ver { */
    /* justify-content: right; */
    /* align-items: right; */
    /* text-align: right; */
    /* display: inline-block; */
    /* float: right;
} */

.details .module {
    display: inline;
/* }
.details h1 {
    text-transform: capitalize; */
    font-size: 50px;
}
.details .ver {
    float: right;
    margin-top: 25px;
}
.details .module, .details .ver {
    text-transform: capitalize;
}
.details p {
    padding-top: 10px;
}



/* abbreviation area */
.details .abbreviations {
    line-height: 5vh;
    /* min- width: 100%; */
    /* padding: 0; */
    font-weight: 500;
    margin-top: 8%;
}
.details .abbreviations .heading {
    text-transform: capitalize;
    letter-spacing: 1px;
    /* font-family: ; */
    font-size: 30px;
}
.details .abbreviations .row {
    /* margin: 0; */
    margin-top: 2%;
}
.details .abbreviations .col-2 .type {
    text-decoration: underline;
    text-transform: capitalize;
    color: #606770;
}
.details .abbreviations .col-2 {
    /* border: 3px solid #fefafb; */
    border: 3px solid;
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* border-right: 2px solid #fefafb; */
    border-right: 2px solid;
}
.details .abbreviations .col-5 {
    /* border: 3px solid #fefafb; */
    border: 3px solid;
    /* border-radius: 8px; */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* border-left: 2px solid #fefafb; */
    border-left: 2px solid;
}



/* .details .container { */
    /* margin: 0; */
    /* margin-left: 0; */
    /* margin-right: 0; */
    /* max-width: 100%; */
    /* padding: 0; */
/* } */
.details .docs {
    margin-top: 12%;
}
/* .details .docs div.row:first-child { */
/* .details .docs [class="row"] { */
.details .docs .row {
    /* margin-top: 7%; */
    margin-bottom: 8%;
}

.details .docs .api {
/* width: fit-content; */
    padding: 0;
}
.details .docs .api .division {
    /* color: burlywood; */
    color: #606770;
    font-size: 50px;
    text-transform: uppercase;
}
.details .docs .api .components {
    /* margin-top: 10px; */
    /* width: fit-content; */
    /* width: 90%; */
    /* font-size: 12px; */
    /* font-size: 15px; */
    font-size: 13px;
    /* letter-spacing: 2px; */
    letter-spacing: 1px;
    /* margin-top: 0; */
    margin: 0;
    margin-top: 10px;
}
.details .docs .api .components table {
    width: 100%;
}
/* .details .container-fluid .api .components .col-3 { */
.details .docs .api .components table tr td:first-child {
    /* line-spacing: 5px; */
    line-height: 35px;
    text-transform: capitalize;
    font-weight: 500;
    width: 27%;
    padding: 0;
}
/* .details .container-fluid .api .components .col-9 { */
.details .docs .api .components table tr td:nth-child(2) {
    /* line-height: 35px; */
    line-height: 35px;
    /* color: #606770; */
    /* color: pink; */
    color: #ff0000;
    font-weight: 500;
    padding: 0;
}
/* .details .container-fluid .api .components .col-9 .emphasize { */
/* .details .container-fluid .api .components table tr td:nth-child(2) .emphasize { */
.details .docs .api .components table tr td:nth-child(2) [class^="emphasize-"] {     /* element's class name starts with emphasize- */
    /* font-weight: bold;
    background-color: #f8f8f8;
    padding: 1%;
    border-radius: 5px; */
    color: #3776c7;
    margin: 0;
    font-weight: bold;
}
.details .docs .api .components table tr td:nth-child(2) .emphasize-module {
    text-transform: capitalize;
}
.details .docs .api .components table tr td:nth-child(2) .emphasize-method {
    text-transform: uppercase;
}
    /* .details .api .other-details {
} */



.details .docs .eg {
    /* padding-left: 3%; */
    padding-left: 2%;
}
.details .docs .eg .head {
    /* padding: 8%;
    padding-left: 0; */
    font-size: 50px;
    /* text-transform: capitalize; */
    color: #3776c7;
    /* font-weight: 400; */
}
.details .docs .eg .format {
    /* margin-top: 30px; */
    margin-top: 15px;
    /* letter-spacing: 2px; */
    letter-spacing: 1px;
    line-height: 30px;
    /* font-size: 12px; */
    font-size: 13px;
}
.details .docs .eg .format ul:first-child {
    padding: 0;
}
.details .docs .eg .format .emphasize {
    font-weight: 600;
    background-color: #f8f8f8;
    padding: 1%;
    border-radius: 5px;
}



/* .details .box { */
/* .details .docs .response { */
    /* border: 1px solid; */
    /* min-height: 50vh; */
    /* border-radius: 8px; */
    /* background-color: black; */
    /* width: 50%; */
    /* background-color: #fefafb; */
    /* box-shadow: 0 0 10px rgb(0 0 0 / 20%); */
    /* margin: 0 auto; */
    /* margin: 0; */
    /* float: right; */
/* } */
/* main .window hr {
    border-color: black;
} */

/* .details .box .toolbar { */
/* .details .docs .response .toolbar {
    background-color: #fefafb;
    border-bottom: 1px solid rgb(211, 208, 208);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    /* background-color: black; */
    /* height: 5vh; */
    /* height: 7vh; */

    /* justify-content: center; */
    /* display: flex;
    align-items: center; */
    /* padding: 12px; */
    /* word-spacing: 2px; */
    /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
    /* background-image: linear-gradient(to right, rgb(253, 241, 243), white, rgb(240, 240, 240)); */
    /* width: 100%; */
    /* margin: 0 auto; */
/* } */
/* .details .box .toolbar div { */
/* .details .docs .response .toolbar div {
    display: flex;
    align-items: center;        align div contents vertically in flexbox display
} */

/* main .box .toolbar .red-circle, main .box .toolbar .orange-circle, main .box .toolbar .green-circle { */
/* .details .box .toolbar .left { border-top-left-radius: 8px; } */
/* .details .docs .response .toolbar .left { border-top-left-radius: 8px; } */
/* .details .box .toolbar .left .circle { */
/* .details .docs .response .toolbar .left .circle {
    height: 10px;
    width: 10px; */
    /* background-color: #bbb; */
    /* border-radius: 50%; */
    /* border-radius: 5px; */
    /* display: inline-block; */
    /* line-height: 5vh; */
    /* padding: 5px; */
/* } */
/* .details .box .toolbar .left .red { background-color: #ff5653; }
.details .box .toolbar .left .orange { background-color: #ffbe0e; }
.details .box .toolbar .left .green { background-color: #2ace35; } */
/* .details .docs .response .toolbar .left .red { background-color: #ff5653; }
.details .docs .response .toolbar .left .orange { background-color: #ffbe0e; }
.details .docs .response .toolbar .left .green { background-color: #2ace35; }

.details .docs .response .toolbar .mid { */
    /* text-align: center; */
    /* display: flex;
    align-items: center; */
    /* justify-content: center;        align div contents horizontally in flexbox display
} */

/* .details .docs .response .toolbar .right {
    border-top-right-radius: 8px;
    justify-content: center;        align div contents horizontally in flexbox display */
    /* color: #606770; */
    /* color: white; */
/* } */

/* .details .result .content { */
/* .details .docs .response .data { */
    /* width: 90%; */
    /* text-align: center; */
    /* padding: 15px; */
    /* min-height: 45vh; */
/* } */

