.details {
    padding: 7%;
    padding-top: 5%;
}

.details .module {
    display: inline;
    font-size: 50px;
}
.details .ver {
    float: right;
    margin-top: 25px;
}
.details .module, .details .ver {
    text-transform: capitalize;
}
.details p {
    padding-top: 10px;
}



.details .abbreviations {
    line-height: 5vh;
    font-weight: 500;
    margin-top: 8%;
}
.details .abbreviations .heading {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 30px;
}
.details .abbreviations .row {
    margin-top: 2%;
}
.details .abbreviations .col-2 .type {
    text-decoration: underline;
    text-transform: capitalize;
    color: #606770;
}
.details .abbreviations .col-2 {
    border: 3px solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 2px solid;
}
.details .abbreviations .col-5 {
    border: 3px solid;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 2px solid;
}



.details .docs {
    margin-top: 12%;
}
.details .docs .row {
    margin-bottom: 8%;
}

.details .docs .api {
    padding: 0;
}
.details .docs .api .division {
    color: #606770;
    font-size: 50px;
    text-transform: uppercase;
}
.details .docs .api .components {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 10px;
}
.details .docs .api .components table {
    width: 100%;
}
.details .docs .api .components table tr td:first-child {
    line-height: 35px;
    text-transform: capitalize;
    font-weight: 500;
    width: 27%;
    padding: 0;
}
.details .docs .api .components table tr td:nth-child(2) {
    line-height: 35px;
    color: #ff0000;
    font-weight: 500;
    padding: 0;
}
.details .docs .api .components table tr td:nth-child(2) [class^="emphasize-"] {     /* element's class name starts with emphasize- */
    color: #3776c7;
    margin: 0;
    font-weight: bold;
}
.details .docs .api .components table tr td:nth-child(2) .emphasize-module {
    text-transform: capitalize;
}
.details .docs .api .components table tr td:nth-child(2) .emphasize-method {
    text-transform: uppercase;
}



.details .docs .eg {
    padding-left: 2%;
}
.details .docs .eg .head {
    font-size: 50px;
    color: #3776c7;
}
.details .docs .eg .format {
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 13px;
}
.details .docs .eg .format ul:first-child {
    padding: 0;
}
.details .docs .eg .format .emphasize {
    font-weight: 600;
    background-color: #f8f8f8;
    padding: 1%;
    border-radius: 5px;
}

