#navbar {
    background: white;
}

#navbar .container-fluid .row .logo {
    background-image: url('/graphics/logos/navbar/orange.ico');
}

#navbar .container-fluid .row .btns a:hover {
    color: rgb(107, 106, 106);
}
#navbar .container-fluid .row .btns a[href='/docs'] {
    color: rgb(14, 221, 42);
}

