<section class="details">
    <h1 class="module">documentation</h1>
    <h4 class="ver">version 1.0</h4>
    <!-- <div class="main-heading">
        <div class="col-3 module"><h1>documentation</h1></div>
        <div class="col-6 ver"><h3>ver 1.0</h3></div>
    </div> -->
    <p><em>&nbsp;Everything you need to know about Orange Ballon E-Commerce Apis.</em></p>
    <!-- <center> -->
        <!-- <h1>API'S</h1> -->
        <!-- <br><br>
        <br><br>
        <br><br> -->
        <br><br>

        <div class="container box">
            <div class="row">
                <div class="col-3 left">
                    <div class="circles">
                        <span class="circle red"></span>&nbsp;
                        <span class="circle orange"></span>&nbsp;
                        <span class="circle green"></span>
                    </div>
                    <div class="methods">
                        methods<br><br>
                        POST:
                    </div>
                </div>

                <div class="col-9 right">
                    <!-- <div class="title">♣ Component -- Auth ♣•</div> -->
                    <div class="title">♣ Component - Auth ♣</div>
                    <!-- <div class="title">Auth</div> -->
                    <div class="content row">
                        <div class="col-6 apis">
                            APIS<br><br>
                            http://localhost:5000/signup<br><br>
                            <!-- http://localhost:5000/login<br><br> -->
                        </div>
                        <div class="col-6 results">RESULTS</div>
                    </div>
                </div>

                    <!-- <div class="col-6 mid">Auth</div>
                    <div class="col-3"></div>
                </div> -->
                <!-- <hr> -->
                <!-- <div class="content">
                    alsdkjabds
                </div> -->
            </div>
        </div>
    <!-- </center> -->

</section>

