<section class="details">
    <h1 class="module">documentation</h1>
    <h4 class="ver">version 1.0</h4>
    <!-- <div class="main-heading">
        <div class="col-3 module"><h1>documentation</h1></div>
        <div class="col-6 ver"><h3>ver 1.0</h3></div>
    </div> -->
    <p><em>&nbsp;Everything you need to know about Orange-Ballon E-Commerce Apis.</em></p>
    <!-- <center> -->
        <!-- <h1>API'S</h1> -->
        <!-- <br><br>
        <br><br>
        <br><br> -->
        <br><br>

        <div class="container box">
        <!-- <div class="box"> -->
            <div class="row toolbar">
                <div class="col-3 left">
                    <span class="circle red"></span>&nbsp;
                    <span class="circle orange"></span>&nbsp;
                    <span class="circle green"></span>
                </div>
                <div class="col-6 mid">result</div>
                <div class="col-3 right">&lt; &gt;</div>
            </div>
            <!-- <hr> -->
            <div class="content">
            <!-- <div class="row content"> -->
                alsdkjabds
            </div>
        </div>
    <!-- </center> -->

</section>

