<section class="details">
    <h1 class="module">documentation</h1>
    <h4 class="ver">version 1.0</h4>
    <!-- <div class="main-heading">
        <div class="col-3 module"><h1>documentation</h1></div>
        <div class="col-6 ver"><h3>ver 1.0</h3></div>
    </div> -->
    <p><em>&nbsp;Everything you need to know about Orange-Ballon E-Commerce Apis.</em></p>
    <!-- <center> -->
        <!-- <h1>API'S</h1> -->
        <br><br>
        <br><br>
        <br><br>
        <br><br>

        <div class="container-fluid">
            <div class="row">

                <div class="col-4 api">
                    <div class="division">auth</div>
                    <div class="components">
                        <!-- <div class="col-3">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>
                        <div class="col-9">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            </br>

                        </div> -->
                        <table>
                            <tr>
                                <td>module</td>
                                <td><label class="emphasize">Signup</label></td>
                            </tr>
                            <tr>
                                <td>host</td>
                                <td>https://orange-ballon.herokuapp.com</td>
                            </tr>
                            <tr>
                                <td>api</td>
                                <td>host/signup</td>
                            </tr>
                            <tr>
                                <td>method</td>
                                <td><label class="emphasize">POST</label></td>
                            </tr>
                            <tr>
                                <td>headers</td>
                                <td>Content-Type: application/json</td>
                            </tr>
                            <tr>
                                <td>params</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>token</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>body</td>
                                <td>username, email, password</td>
                            </tr>
                            <tr>
                                <td>ver</td>
                                <td>1.0</td>
                            </tr>
                        </table>
                        <!-- <ul type="none" class="format">
                            <li>Method: POST</li>
                            <li>https://orange-ballon.herokuapp.com/signup</li>
                            <li>Content-Type: application/json</li>
                            <li>{</li>
                                <ul type="none">
                                    <li>"username": "fooi",</li>
                                    <li>"email": "fooi@1.com",</li>
                                    <li>"password": "12345678"</li>
                                </ul>
                            <li>}</li>
                            <li>Ver: 1.0</li>
                        </ul> -->
                        <!-- <ul type="none" class="format"> -->
                            <!-- <li>response = fetch(</li>
                            <ul type="none"> -->
                                <!-- <li>https://orange-ballon.herokuapp.com/signup,</li>
                                <li>{</li>
                                <ul type="none">
                                    <li>POST,</li>
                                    <li>headers: { Content-Type: application/json },</li>
                                    <li>body:</li>
                                    <li>{</li>
                                        <ul type="none">
                                            <li>"username": "fooi",</li>
                                            <li>"email": "fooi@1.com",</li>
                                            <li>"password": "12345678"</li>
                                        </ul>
                                    <li>}</li>
                                </ul>
                                <li>}</li> -->
                            <!-- </ul>
                            <li>)</li> -->
                            <!-- <li>Ver: 1.0</li>
                        </ul> -->
                    </div>
                    <!-- <div class="other-details">
                        this is login api
                    </div> -->
                </div>

                <div class="col-4 eg">
                    <div class="head">example</div>
                    <div class="format">
                        <ul type="none">
                            <li><label class="emphasize">https://orange-ballon.herokuapp.com/signup</label></li>
                            <li>Content-Type: application/json</li>
                            <li>{</li>
                            <ul type="none">
                                <li><label class="emphasize">"username"</label>: "fooi",</li>
                                <li><label class="emphasize">"email"</label>: "fooi@1.com",</li>
                                <li><label class="emphasize">"password"</label>: "12345678"</li>
                            </ul>
                            <li>}</li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="col-6 box"> -->
                <div class="col-4 response">
                    <div class="row toolbar">
                        <div class="col-3 left">
                            <span class="circle red"></span>&nbsp;
                            <span class="circle orange"></span>&nbsp;
                            <span class="circle green"></span>
                        </div>
                        <div class="col-6 mid">response</div>
                        <div class="col-3 right">&lt; &gt;</div>
                    </div>
                    <div class="data">
                    <!-- <div class="row content"> -->
                        alsdkjabds
                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="container box"> -->
        <!-- <div class="box"> -->
            <!-- <div class="row toolbar">
                <div class="col-3 left">
                    <span class="circle red"></span>&nbsp;
                    <span class="circle orange"></span>&nbsp;
                    <span class="circle green"></span>
                </div>
                <div class="col-6 mid">result</div>
                <div class="col-3 right">&lt; &gt;</div>
            </div> -->
            <!-- <hr> -->
            <!-- <div class="content"> -->
            <!-- <div class="row content"> -->
                <!-- alsdkjabds
            </div>
        </div> -->
    <!-- </center> -->

</section>

