<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/documentation/header.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/documentation/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/documentation/details.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/navbar.css" type="text/css"/>

    <title>Orange-Ballon documentation</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <%- include('navbar') %>
        <%- include('details') %>
    </main>
    <%- include('footer') %>

    <script src="/scripts/docsNavbar.js"></script>
</body>
</html>

