<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/documentation/header.css" type="text/css"/>
    <!-- <link rel="stylesheet" href="/stylesheets/documentation/main.css" type="text/css"/> -->
    <link rel="stylesheet" href="/stylesheets/documentation/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/documentation/details.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css"/>

    <title>Orange-Ballon documentation</title>
</head>
<body>
    <%- include('header') %>

    <main>
        <%- include('navbar') %>

        <!-- <br><br>
        <h1 class="">documentation</h1>
        <p><em>Everything you need to know about orange-ballon e-commerce apis.</em></p>
        <center> -->
            <!-- <h1>API'S</h1> -->
            <!-- <br><br> -->
            <!-- <img src='/graphics/images/documentation/a.png'>
            <br><br> -->
            <!-- <img src='/graphics/images/documentation/c.png' class="c"> -->
            <!-- <br><br> -->
            <!-- <div class="box">
                <div class="toolbar">
                    <span class="circle red"></span>&nbsp;
                    <span class="circle orange"></span>&nbsp;
                    <span class="circle green"></span>
                </div> -->
                <!-- <hr> -->
                <!-- alsdkjabds
            </div>
        </center>
        <br><br><br> -->
        <%- include('details') %>
    </main>

    <%- include('footer') %>

    <script src="/scripts/docsNavbar.js"></script>
</body>
</html>

