<section class="down">
    <div class="part1">
        <!-- <div class="col-8"> -->
            <h2>What is REST?</h2>
            <p>REST is acronym for Representational State Transfer. It is a software architectural style that was created to guide the design and development of the architecture for the World Wide Web. It was first presented by Roy Fielding in 2000 in his famous dissertation. REST defines a set of constraints for how the architecture of an Internet-scale distributed hypermedia system, such as the Web.</p>
            <br>
            <h2>What is an API?</h2>
            <p>An API (application program interface) is a set of definitions and protocols for building and integrating application software. An API is a set of rules that enables different programs to communicate with one another. It outlines the appropriate way for a software developer to compose a program on a server that communicates with various client applications.</p>
            <br>
            <h2>What is REST API?</h2>
            <p>A REST API (also known as RESTful API) is an application programming interface (API or web API) that conforms to the constraints of REST architectural style and allows for interaction with RESTful web services.</p>
        <!-- </div> -->

        <!-- <div class="col-4 mt-5"> -->
            <br>
            <center><img src='/graphics/images/index/down/1a.gif'></center>
        <!-- </div> -->
    </div>
    <!-- <br><br> -->
    <!-- <br><hr><br> -->

    <div class="part2">
        <div class="row">
            <div class="col-6 cell1">
                <em>
                    <h2 class="content">Orange Ballon</h2>
                    <p class="content">is an open source tool that empowers the backend support of an e-commerce application. It provides the bunch of api's which could be found in a intermediate level e-commerce application. These api's can be called and used by any technology platform, be it desktop app, or android app or an mac os application.</p>
                </em>
            </div>
            <!-- <br><br> -->
            <div class="col-6 cell2">
                <div class="content">
                    <br>
                    <img src='/graphics/icons/index/down/7f.png'>
                    <br><br>
                    <h2>EASY INTEGRATION</h2>
                    <!-- <br> -->
                    <p>We designed our system in ways for easy & adaptive integrations</p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row mt-5">
            <div class="col-5 cell3">
                <div class="content">
                    <br>
                    <img src='/graphics/icons/index/down/3g.png'>
                    <br><br>
                    <h2>24/7 SUPPORT</h2>
                    <!-- <br> -->
                    <p>We are there to provide support & services to each one of our clients</p>
                </div>
            </div>
            <div class="col-7 cell4">
                <img src='/graphics/images/index/down/6e.jpg'>
                <!-- <img src='/graphics/images/down/1.jpg'>
                <img src='/graphics/images/down/1.jpg'>
                <img src='/graphics/images/down/1.jpg'> -->
            </div>
        </div>
    </div>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->

    <!-- <div class="info3"> -->
        <!-- <p><h4>The data is in the json format. User can integrate api's with any technology that supports json format.</h4><br><img src='/graphics/down/d.png'></p> -->
        <!-- <p></p>
    </div> -->
    <!-- <br><br><hr><br> -->
</section>

