<footer>
    <div class="container">
        <div class="row up">
            <div class="col-3 cat1">
                <div class="col">
                    <p>community</p>
                    <ul type="none">
                        <li>stack overflow</li>
                        <li>discord</li>
                        <li>facebook</li>
                        <li>twitter</li>
                        <li>youtube</li>
                    </ul>
                </div>
            </div>
            <div class="col-3 cat2">
                <div class="col">
                    <p>others</p>
                    <ul type="none">
                        <li><a href="https://orange-ballon.herokuapp.com/">Orange Ballon</a></li>
                        <li><a href="https://devtrek.herokuapp.com/">devTrek</a></li>
                        <li>Salt.org</li>
                    </ul>
                </div>
            </div>
            <div class="col-3 cat3">
                <div class="col">
                    <p>open source</p>
                    <ul type="none">
                        <li><a href="https://github.com/cod-lab/orange-ballon">github.com/cod-lab/orange-ballon</a></li>
                        <li><a href="https://github.com/cod-lab/devTrek">github.com/cod-lab/devTrek</a></li>
                        <li>github.com/cod-lab/salt</li>
                    </ul>
                </div>
            </div>
            <div class="col-3 cat4">
                <div class="col">
                    <p>company</p>
                    <ul type="none">
                        <li>about</li>
                        <li>news</li>
                        <li>careers</li>
                    </ul>
                </div>
            </div>
        </div>

        <br><hr>

        <div class="bottom">
            <p>
                <label class="legal">copyright © 2021 orange ballon. all rights reserved.</label>
                <!-- <label class="promotion">Developed in MERN stack by <a href="https://github.com/cod-lab">cod-lab</a> &nbsp; / &nbsp; Powered by Salt Organization 🧊</label> -->
                <label class="promotion">Developed in MERN stack by <a href="https://github.com/cod-lab">cod-lab</a> &nbsp; / &nbsp; Powered by Salt Organization <img src="/graphics/logos/footer/c.png" alt="Salt.org"></label>
            </p>
        </div>
        <!-- <br><hr> -->
    </div>
</footer>

