<header>
    <div class="container-fluid">
        <div class="row">
            <div class="brand">orange ballon</div>
            <div class="handles">
                <img src='/graphics/handles/fb.png'>
                <img src='/graphics/handles/ig.png'>
                <img src='/graphics/handles/tw.png'>
            </div>
        </div>
    </div>
</header>

