<!-- <div class="row" id="navbar">
    <div class="col-4 logo"></div>
    <div class="col-3"></div>
    <div class="col-3 mt-2">
        <a href="/">home</a> -->
        <!-- <a href="#">api<label>-</label>documentation</a> -->
        <!-- <a href="/docs">documentation</a>
        <a href="https://devtrek.herokuapp.com/">blog</a>
    </div>
</div> -->

<section id="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="logo">orange ballon</div>
            <div class="btns">
                <a href="/">home</a>
                <a href="/docs">documentation</a>
                <a href="https://devtrek.herokuapp.com/">blog</a>
            </div>
        </div>
    </div>
</section>

