<section id="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="logo">orange ballon</div>
            <div class="btns">
                <a href="/">home</a>
                <a href="/docs">documentation</a>
                <a href="https://devtrek.herokuapp.com/">blog</a>
            </div>
        </div>
    </div>
</section>

