.down p {
    letter-spacing: 1px;
    line-height: 1.7;
}


.down .part1 {
    background-image: url("/graphics/backgrounds/index/down/d.jpg");
    background-size: 100%;      /* set background width to 100% of container */
    background-repeat: no-repeat;
    padding: 10%;
    padding-top: 6.5%;
    padding-bottom: 6%;
}
.down .part1 p {
    font-size: 17px;
}
.down .part1 img {
    width: 80%;
    border-radius: 50%;
}



.down .part2 {
    padding: 7%;
    padding-left: 10%;
    padding-bottom: 9%;
}
.down .part2 .cell1 {
    padding: 3%;
    font-size: 22px;
}
.down .part2 .cell1 .content {
    display: inline;
    color: brown;
}

.down .part2 .cell2::before {
    height: 65%;
}
.down .part2 .cell3::before {
    height: 70%;
    left: 100%;
}
.down .part2 .cell2::before, .down .part2 .cell3::before {
    content: "";
    position: absolute;
    width: 0.5px;
    top: 15%;
    background-color: #b9b9b9;
}
.down .part2 .cell2 .content, .down .part2 .cell3 .content {
    text-align: center;
    margin: auto;   /* set current div to center */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.down .part2 .cell2 .content {
    width: 60%;
    height: 90%;
    color: #1f993b;
}
.down .part2 .cell3 .content {
    width: 73%;
    height: 100%;
    color: #ffc107;
}
.down .part2 .cell2 .content:hover, .down .part2 .cell3 .content:hover  {
    color: white;
    transition: 0.4s;
}
.down .part2 .cell2 .content:hover {
    background-color: #1f993b;
}
.down .part2 .cell3 .content:hover {
    background-color: #ffc107;
}
.down .part2 .cell2 .content img, .down .part2 .cell3 .content img {
    width: 15%;
}
.down .part2 .cell2 .content:hover img {
    filter: brightness(0) invert(1);
    transition: 0.3s;
}
.down .part2 .cell3 .content:hover img {
    filter: brightness(0) invert(1);
}
.down .part2 .cell2 .content p, .down .part2 .cell3 .content p {
    padding: 5%;
}

.down .part2 .cell4 {
    justify-content: center;
    display: flex;
    align-items: center;
}
.down .part2 .cell4 img {
    width: 90%;
}

