header {
    border-bottom: 1px solid white;
    background-image: url("/graphics/backgrounds/index/main/k.jpg");
    background-size: 100%;
    background-position: left bottom 9.75vh;
    filter: hue-rotate(348deg) grayscale(20%);
}

header .container-fluid .row .brand {
    color: white;
}

