main {
    background-size: 100%;      /* set background width to 100% of container */
    background-image: url("/graphics/backgrounds/index/main/k.jpg");
    background-position: left -10vh;    /* default for top left */
    filter: hue-rotate(348deg) grayscale(20%);
    background-repeat: no-repeat;
}

@font-face {
    font-family: taglineFont;
    src: url('/fonts/Satisfy-Regular.ttf');
}
main .tagline {
    color: white;
    font-family: taglineFont;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 90vh;
}

