footer {
    min-height: 25vh;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer .container {
    width: 90%;
}

footer .up [class*="cat"] {     /* class containing substring 'cat' */
    padding: 0;
}
footer .up [class*="cat"] .col {
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}
footer .up [class*="cat"] p {
    color: #a6a6a6;
    text-transform: capitalize;
}
footer .up [class*="cat"] ul {
    padding: 0;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 40px;
}
footer .up [class*="cat"]:not(.cat2, .cat3) ul {    /* select all classes containing string 'cat' but not 'cat2' || 'cat3' */
    text-transform: capitalize;
}
footer .up [class*="cat"] ul li {
    width: fit-content;
}
footer .up [class*="cat"] ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}
footer .up [class*="cat"] ul li a {
    text-decoration: none;
    color: white;
}

footer .container hr {
    border: 0.5px solid white;
    width: 90%;
    margin: 0 auto;     /* align center horizontally */
    margin-top: 15px;
}

footer .bottom {
    width: 90%;
    margin: 0 auto;
    margin-top: 4%;
}
footer .bottom p {
    font-size: 13px;
    color: rgb(133, 132, 132);
    margin: 0;
}
footer .bottom p .legal {
    text-transform: capitalize;
}
footer .bottom p .promotion {
    float: right;
    width: 43.5%;
    text-align: right;
    margin-right: -0.5%;
}
footer .bottom p .promotion img {
    width: 3.5%;
    filter: invert(1);
    transform: rotate(135deg);
    margin-top: -2%;
}

