#navbar {
    z-index: 99;
}
#navbar .container-fluid .row {
    padding-left: 11%;
    padding-right: 6%;
    /* margin-top: 8px; */
    padding-top: 8px;
    padding-bottom: 4px;
}

#navbar .container-fluid .row .logo {
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;     /* set background in the center */
    font-size: 20px;
    letter-spacing: 5px;
    color: transparent;
}
@font-face {
    font-family: navbarFont;
    src: url('/fonts/RobotoMono-VariableFont_wght.ttf');
}
#navbar .container-fluid .row .btns {
    margin-left: auto;
    float: right;
    font-family: navbarFont;
    font-size: 20px;
    text-transform: uppercase;
    /* color: black;
    text-decoration: none; */
    /* width: fit-content; */
    /* width: 32%; */
    /* width: 80%; */
    /* align-items: right; */
    word-spacing: 30px;
}
/* #navbar .container-fluid .row .btns a + a {     selects all a placed immediately after a */
    /* margin-left: 12%; */
    /* padding-left: 12%; */
/* } */
#navbar .container-fluid .row .btns a {
    color: black;
    padding-left: 13px;
    padding-right: 13px;
    /* float: right; */
}
#navbar .container-fluid .row .btns a:hover {
    text-decoration: none;
    /* color: rgb(107, 106, 106); */
    transition: 0.4s;
}
#navbar .container-fluid .row .btns a:active {
    color: black;
}

